<!-- <app-navbar></app-navbar>
<app-menu></app-menu> -->


<div class="col-md-12 top-menu">  
    <!--Nabvar-->
    <div class="pos-f-t">
    	<div class="row dark-own">
    		<div class="col-md-2">
    			<img class="logo" src="../assets/logo.png"/>
    		</div>
    		<div class="col-md-6">
    		  <div class="search search-data search-input">
    			<form class="form-inline">
    			  <input class="form-control mr-md-2" 
    			         id="search"
    			         type="text" 
    			         placeholder="Buscar..." aria-label="Buscar">
    			  <i class="fa fa-search" aria-hidden="true"></i>
    			</form>
             </div>
    	    </div>
            <div class="col-md-4">
                <div class="row top-nav">
                    <button type="button" 
                            class="btn btn-circle btn-lg sep-bet">
                        <i class="fa fa-envelope"></i>
                    </button>
                    <button type="button" 
                            class="btn btn-circle btn-lg sep-bet">
                            <i class="fa fa-user"></i>
                    </button>
                    <img class="img-rnd-nav sep-bet" 
                         src="assets/img/andrew.jpg" alt="User">
                    <span class="user sep-bet">
                        ALEX BASTIDAS
                        <br>
                        <small class="status sep-bet">
                        venezuela
                        </small>
                    </span>
                </div>
            </div>
    	    <!-- <div class="col-md-4">
    	    	<div class="row logo">
    	    		<div class="col-sm-2">
    	    			<button type="button" 
    			    	        class="btn btn-circle btn-lg">
    			    	    <i class="fa fa-envelope"></i>
    			    	</button>
    	    		</div>
    	    		<div class="col-sm-2">
    	    			<button type="button" 
    			    	        class="btn btn-circle btn-lg">
    			    	        <i class="fa fa-user"></i>
    			    	</button>
    	    		</div>
    	    		<div class="col-sm-2">
    	    	        <img class="img-rnd-nav" 
                         src="assets/img/andrew.jpg" alt="User">
    			    	
    	    		</div>
    	    		<div class="col-sm-6">
    	    			<span class="user">
    			    		ALEX BASTIDAS
    			    		<br>
    			    		<small class="status">
    			    			venezuela
    			    		</small>
    			    	</span>
    	    		</div>
    	    	</div>
    	    </div> -->
        </div>
    </div>
</div>
<!--!Nabvar-->


<!--Menu-->
    <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-bg own-btn-dark">
            <i class="fa fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                  <div class="row">
                    <div class="col-md-8">
                       <img src="../assets/logo.png" class="logo-menu"/>
                    </div>
                    <div class="col-md-4">
                      <div id="close-sidebar">
                        <i class="fa fa-times"></i>
                      </div>
                    </div>  
                  </div>
                </div>
                <div class="sidebar-header">
                    <div class="user-pic">
                        <img class="img-responsive img-rnd" 
                             src="assets/img/andrew.jpg" alt="User">
                             
                    </div>
                    <div class="user-info">
                        <span class="userInfo">ALEX BASTIDAS
                            <strong></strong>
                        </span>
                        <span class="sub-userInfo">ADMINISTRATOR</span>
                        <span class="user-status">
                            <span class="badge-status"></span>
                        </span>
                    </div>
                    
                </div>

                <!-- sidebar-header  -->
                <!-- <div class="sidebar-search">
                    <div>
                        <div class="input-group">
                            <input type="text" class="form-control search-menu" placeholder="Buscar...">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div> -->

    <!-- sidebar-search  -->
    <div class="sidebar-menu">
        <ul class="navbar-nav">
            <!-- <li class="header-menu">
            </li> -->
            
            <li class="sidebar-dropdown align-center nav-item" 
                routerLinkActive="active">
                <a class="nav-link" routerLink="dashboard">
                    <i class="fa fa-television"></i>
                    <br>
                    <span class="text-item">DASHBOARD</span>
                </a>
            </li>

            <!-- <li class="sidebar-dropdown align-center nav-item" 
                routerLinkActive="active">
                <a routerLink="dashboard" class="nav-link">
                    <i class="fa fa-television"></i>
                    <br>
                    <span class="text-item">DASHBOARD</span>
                    span class="badge badge-pill badge-danger">New</span>
                </a>
                <div class="sidebar-submenu">
                    <ul>
                        <li class="nav-item">
                            <a routerLink="dashboard" class="nav-link">Dashboard 1
                                <span class="badge badge-pill badge-success">Pro</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="#" class="nav-link">Dashboard 2</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="#" class="nav-link">Dashboard 3</a>
                        </li>
                    </ul>
                </div>
            </li> -->
            
            <li class="sidebar-dropdown align-center nav-item" 
                routerLinkActive="active">
                <a class="nav-link" routerLink="#">
                    <i class="fa fa-comment-o"></i>
                    <br>
                    <span class="text-item">MESSAGES</span>
                </a>
            </li>

            <!-- <li class="sidebar-dropdown align-center nav-item"
                routerLinkActive="active">
                <a  class="nav-link">
                    <i class="fa fa-comment-o"></i>
                    <span class="badge badge-pill badge-success-new notification">3</span>
                    <br>
                    <span class="text-item">MESSAGES</span>
                </a>
                <div class="sidebar-submenu">
                    <ul>
                        <li class="nav-item"> 
                            <a routerLink="ecommerce" class="nav-link">Products</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="#" class="nav-link">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="#" class="nav-link">Credit cart</a>
                        </li>
                    </ul>
                </div>
            </li> -->
            
            <li class="sidebar-dropdown align-center nav-item" 
                routerLinkActive="active">
                <a class="nav-link" routerLink="#">
                    <i class="fa fa-calendar"></i>
                    <br>
                    <span class="text-item">CALENDAR</span>
                </a>
            </li>

            <!-- <li class="sidebar-dropdown align-center nav-item">
                <a href="#">
                    <i class="fa fa-calendar"></i>
                    <br>
                    <span class="text-item">CALENDAR</span>
                </a>
                <div class="sidebar-submenu">
                    <ul>
                        <li>
                            <a href="#">General</a>
                        </li>
                        <li>
                            <a href="#">Panels</a>
                        </li>
                        <li>
                            <a href="#">Tables</a>
                        </li>
                        <li>
                            <a href="#">Icons</a>
                        </li>
                        <li>
                            <a href="#">Forms</a>
                        </li>
                    </ul>
                </div>
            </li> -->
            
            <li class="sidebar-dropdown align-center nav-item" 
                routerLinkActive="active">
                <a class="nav-link" routerLink="#">
                    <i class="fa fa-clone"></i>
                    <br>
                    <span class="text-item">PAGES</span>
                </a>
            </li>

            <li class="sidebar-dropdown align-center nav-item" 
                routerLinkActive="active">
                <a class="nav-link" routerLink="#">
                    <i class="fa fa-globe"></i>
                    <br>
                    <span class="text-item">MAPS</span>
                </a>
            </li>

            <li class="sidebar-dropdown align-center nav-item"
                routerLinkActive="active">
                <a routerLink="#" class="nav-link">
                    <i class="fa fa-folder"></i>
                    <br>
                    <span class="text-item">EXAMPLES</span>
                </a>
            </li>

            <li class="sidebar-dropdown align-center nav-item" 
                routerLinkActive="active">
                <a class="nav-link" routerLink="#">
                    <i class="fa fa-book"></i>
                    <br>
                    <span class="text-item">DOCUMENTS</span>
                </a>
            </li>

        </ul>
    </div>
    <!-- sidebar-menu  -->
            </div>
             
            <!-- sidebar-content  -->
            <!-- <div class="sidebar-footer">

                <div class="dropdown">

                    <a href="#" class="" id="dropdownMenuNotification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bell"></i>
                        <span class="badge badge-pill badge-warning notification">3</span>
                    </a>

                    <div class="dropdown-menu notifications" aria-labelledby="dropdownMenuMessage">
                        <div class="notifications-header">
                            <i class="fa fa-bell"></i>
                            Notifications
                        </div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <div class="notification-content">
                                <div class="icon">
                                    <i class="fas fa-check text-success border border-success"></i>
                                </div>
                                <div class="content">
                                    <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. In totam explicabo</div>
                                    <div class="notification-time">
                                        6 minutes ago
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a class="dropdown-item" href="#">
                            <div class="notification-content">
                                <div class="icon">
                                    <i class="fas fa-exclamation text-info border border-info"></i>
                                </div>
                                <div class="content">
                                    <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. In totam explicabo</div>
                                    <div class="notification-time">
                                        Today
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a class="dropdown-item" href="#">
                            <div class="notification-content">
                                <div class="icon">
                                    <i class="fas fa-exclamation-triangle text-warning border border-warning"></i>
                                </div>
                                <div class="content">
                                    <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. In totam explicabo</div>
                                    <div class="notification-time">
                                        Yesterday
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-center" href="#">View all notifications</a>
                    </div>

                </div>

                <div class="dropdown">
                    <a href="#" class="" id="dropdownMenuMessage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-envelope"></i>
                        <span class="badge badge-pill badge-success notification">7</span>
                    </a>
                    <div class="dropdown-menu messages" aria-labelledby="dropdownMenuMessage">
                        <div class="messages-header">
                            <i class="fa fa-envelope"></i>
                            Messages
                        </div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <div class="message-content">
                                <div class="pic">
                                    <img src="assets/img/user.jpg" alt="">
                                </div>
                                <div class="content">
                                    <div class="message-title">
                                        <strong> Jhon doe</strong>
                                    </div>
                                    <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. In totam explicabo</div>
                                </div>
                            </div>

                        </a>
                        <a class="dropdown-item" href="#">
                            <div class="message-content">
                                <div class="pic">
                                    <img src="assets/img/user.jpg" alt="">
                                </div>
                                <div class="content">
                                    <div class="message-title">
                                        <strong> Jhon doe</strong>
                                    </div>
                                    <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. In totam explicabo</div>
                                </div>
                            </div>

                        </a>
                        <a class="dropdown-item" href="#">
                            <div class="message-content">
                                <div class="pic">
                                    <img src="assets/img/user.jpg" alt="">
                                </div>
                                <div class="content">
                                    <div class="message-title">
                                        <strong> Jhon doe</strong>
                                    </div>
                                    <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. In totam explicabo</div>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-center" href="#">View all messages</a>

                    </div>
                </div>
                <div class="dropdown">
                    <a href="#" class="" id="dropdownMenuMessage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-cog"></i>
                        <!-- <span class="badge-sonar"></span> -->
                    <!-- </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuMessage">
                        <a class="dropdown-item" href="#">My profile</a>
                        <a class="dropdown-item" href="#">Help</a>
                        <a class="dropdown-item" href="#">Setting</a>
                    </div>
                </div>
                <div>
                    <a href="#">
                        <i class="fa fa-power-off"></i>
                    </a>
                </div>
            </div> -->
        </nav>

        <!-- sidebar-wrapper  -->

        <!--contenedor-->
        <main class="page-content ">
            <router-outlet></router-outlet>
        </main>  
      
    </div>
    <!-- page-wrapper -->
<!--!Menu-->


 

