.fondo-gral{
	background-color: #0c3057;
}


.bg-top{
	background: #1d8ee5; /* Old browsers */
	background: -moz-linear-gradient(top, #1d8ee5 0%, #142e66 84%, #102151 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #1d8ee5 0%,#142e66 84%,#102151 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #1d8ee5 0%,#142e66 84%,#102151 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d8ee5', endColorstr='#102151',GradientType=0 ); /* IE6-9 */
}
